.paper {
  background-color: white;
  border-radius: var(--spacing12);
  box-shadow: 0px 0px var(--spacing8) var(--primary-shadow);
  border: var(--spacing2) solid var(--border-primary);
  padding: var(--spacing12) var(--spacing24);
}
