* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

:root {
  /* colors */
  --background-primary: rgb(241, 241, 241);
  --black-transparent-light: rgba(0, 0, 0, 0.15);

  /* sizes */
  --spacing4: 4px;
  --spacing6: 6px;
  --spacing8: 8px;
  --spacing10: 10px;
  --spacing12: 12px;
}
